# RP3beta

## Import

In [1]:
## Allow more than one output for a single code cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import pandas as pd
import scipy.sparse as sps
import numpy as np
import os

## Set the numpy random seed
SEED = 42
np.random.seed(SEED)

os.getcwd()

'/home/alessio/Scrivania/RecSysChallenge2021'

In [3]:
from Data_manager.split_functions.split_train_validation_random_holdout import split_train_in_two_percentage_global_sample

from Evaluation.Evaluator import EvaluatorHoldout

from Recommenders.Recommender_import_list import *

from Recommenders.DataIO import DataIO

Tensorflow is not available

In [4]:
## Utility Functions
from Dataset.load_data import load_data

## Data Loading and Split

In [5]:
URM_all, ICM_dict = load_data()

In [24]:
URM_train, URM_validation = split_train_in_two_percentage_global_sample(URM_all, train_percentage = 0.80)

URM_aug_train = sps.vstack([URM_train.copy().tocoo(), 
                            #ICM_dict['ICM_genre'].T.tocoo(),
                            ICM_dict['ICM_subgenre'].T.tocoo(), 
                            #ICM_dict['ICM_event'].T.tocoo(), 
                            ICM_dict['ICM_channel'].T.tocoo()], format='csr')

evaluator_validation = EvaluatorHoldout(URM_validation, cutoff_list=[10], exclude_seen = True)

Warning: 6 (0.04 %) of 13650 users have no sampled items
EvaluatorHoldout: Ignoring 13644 ( 0.0%) Users that have less than 1 test interactions

## Optimization

In [1]:
!ls "./result_experiments/RP3beta"

RP3beta_augmented_all_event_preprocessed
RP3beta_augmented_all_no_event
RP3beta_augmented_all_no_event_improved_range
RP3beta_augmented_all_no_event_improved_range_topK_categorical
RP3beta_augmented_all_no_event_topK_categorical
RP3beta_augmented_subgenre_channel
RP3beta_RP3beta_augmented_subgenre_channel_topK_categorical
RP3beta_RP3beta_augmented_subgenre_channel_topK_categorical2

In [8]:
output_folder_path = "result_experiments/RP3beta/RP3beta_augmented_subgenre_channel/"

data_loader = DataIO(folder_path = output_folder_path)
search_metadata = data_loader.load_data('noAugmentation' + RP3betaRecommender.RECOMMENDER_NAME + "_metadata.zip")

#search_metadata.keys()

hyperparameters_df = search_metadata["hyperparameters_df"]
result_on_validation_df = search_metadata["result_on_validation_df"]

hyperparameters_df['MAP'] = result_on_validation_df['MAP'].values.tolist()

threshold = 0.22

hyperparameters_df[hyperparameters_df['MAP'] > threshold]
print('Max value for the range: ', max(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Min value for the range: ', min(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Best MAP: ', max(hyperparameters_df['MAP']))
hyperparameters_df[max(hyperparameters_df['MAP']) == hyperparameters_df['MAP']]

    topK     alpha      beta normalize_similarity       MAP
30   919   0.84241  0.701149                 True  0.220853
31   800       1.0  0.715961                 True  0.220984
32   800       1.0  0.688869                 True  0.220909
33   800  0.847216   0.66878                 True  0.220581
40   800   0.87384  0.719988                 True  0.220264
46  1200       1.0  0.704682                 True  0.220095
49   800       1.0  0.741612                 True  0.220526

Max value for the range:  1200
Min value for the range:  800
Best MAP:  0.220984357297563

   topK alpha      beta normalize_similarity       MAP
31  800   1.0  0.715961                 True  0.220984

In [9]:
output_folder_path = "result_experiments/RP3beta/RP3beta_augmented_subgenre_channel/"

data_loader = DataIO(folder_path = output_folder_path)
search_metadata = data_loader.load_data(RP3betaRecommender.RECOMMENDER_NAME + "_metadata.zip")

hyperparameters_df = search_metadata["hyperparameters_df"]
result_on_validation_df = search_metadata["result_on_validation_df"]

hyperparameters_df['MAP'] = result_on_validation_df['MAP'].values.tolist()

threshold = 0.20

hyperparameters_df[hyperparameters_df['MAP'] > threshold]
print('Max value for the range: ', max(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Min value for the range: ', min(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Best MAP: ', max(hyperparameters_df['MAP']))
hyperparameters_df[max(hyperparameters_df['MAP']) == hyperparameters_df['MAP']]

    topK     alpha      beta normalize_similarity       MAP
0   1009  0.599747  0.430482                False  0.202591
2   1783  0.676932  0.203678                 True  0.201246
3   1183  0.659265  0.441199                 True  0.210321
5   1914  0.358419  0.662776                 True  0.210470
6   1562  0.198396  0.478845                 True  0.206050
7   1638  0.101867  0.532748                 True  0.205235
8   1227  0.443418  0.576483                 True  0.212681
11  1579  0.836927  0.461486                False  0.206912
15  1167  0.098408  0.620544                 True  0.206241
16  1971  0.366584  0.535616                 True  0.208468
17  1585       1.0  0.582045                 True  0.215516
18  1986       1.0  0.346997                 True  0.205433
21  1000       1.0  0.735957                 True  0.220530
25  1000       1.0  0.669895                 True  0.220401
26  2000       1.0   0.77277                 True  0.215037
27  1164       0.0  0.280482                 True  0.200714
28  2000       1.0  0.704045                 True  0.217272
31  1000       1.0  0.495925                 True  0.214310
33  1000       1.0  0.635453                 True  0.219902
34  1000       1.0  0.705809                 True  0.220848
36  1039  0.007341  0.368349                 True  0.202142
37  1000       1.0  0.718017                 True  0.220764
39  1000   0.90458  0.690605                 True  0.220840
41  1000       1.0   0.77351                 True  0.217459
42  1011  0.968027  0.259203                 True  0.204514
43  1188  0.987143   0.13262                 True  0.201520
44  1000  0.817667  0.653386                 True  0.220317
46  1000  0.885538   0.71292                 True  0.220971
47  1000  0.896038  0.705737                 True  0.220871
48  1000  0.901021  0.722916                 True  0.220890
50  1000  0.796793  0.621409                 True  0.218982

Max value for the range:  2000
Min value for the range:  1000
Best MAP:  0.22097109358819678

    topK     alpha     beta normalize_similarity       MAP
46  1000  0.885538  0.71292                 True  0.220971

In [10]:
output_folder_path = "result_experiments/RP3beta/RP3beta_augmented_subgenre_channel/"

data_loader = DataIO(folder_path = output_folder_path)
search_metadata = data_loader.load_data('improvedRange' + RP3betaRecommender.RECOMMENDER_NAME + "_metadata.zip") # range topK from 800 to 1200

hyperparameters_df = search_metadata["hyperparameters_df"]
result_on_validation_df = search_metadata["result_on_validation_df"]

hyperparameters_df['MAP'] = result_on_validation_df['MAP'].values.tolist()

threshold = 0.20

hyperparameters_df[hyperparameters_df['MAP'] > threshold]
print('Max value for the range: ', max(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Min value for the range: ', min(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Best MAP: ', max(hyperparameters_df['MAP']))
hyperparameters_df[max(hyperparameters_df['MAP']) == hyperparameters_df['MAP']]

    topK     alpha      beta normalize_similarity       MAP
1   1144  0.421889  0.643489                 True  0.214956
2   1131  1.166359  0.109542                 True  0.203620
7   1172  0.179832  0.211472                 True  0.200842
8    880  0.321892  0.579206                 True  0.213856
9   1145  0.389597  0.229685                 True  0.202370
11  1089    0.5176  0.430875                 True  0.210034
12  1125  0.601994  0.194154                 True  0.201812
13  1185  0.391639  0.236078                 True  0.202702
14   959  0.367801  0.532778                 True  0.212835
16  1125  0.765781  0.770872                 True  0.215214
17   836       1.2   0.50829                 True  0.214678
18   800       1.2  0.332911                 True  0.209561
20  1200       1.2  0.433342                 True  0.210642
22   800       0.0  0.445268                 True  0.207261
23   827       1.2  0.640761                 True  0.217773
24   809       1.2  0.760123                 True  0.211627
25   827       1.2  0.221643                 True  0.209369
26  1187       0.0  0.617642                 True  0.204001
27   800  0.901368  0.585674                 True  0.218441
28   800       0.0  0.341607                 True  0.203814
29   800  0.886577   0.68149                 True  0.219983
32   800  0.681927  0.345659                 True  0.208989
34  1200       1.2   0.57502                 True  0.215941
35  1200  0.825176  0.507262                 True  0.213466
36  1200       1.2  0.697997                 True  0.215548
37  1200   0.84084  0.635073                 True  0.218503
38   800       0.0  0.527766                 True  0.209580
39   800  0.544939  0.705885                 True  0.216936
41   800  0.902538  0.720922                 True  0.219756
42  1200  0.981419  0.277868                 True  0.204579
43  1200  0.799864  0.700128                 True  0.218810
45   800  0.670089  0.609135                 True  0.218227
46   878       0.0  0.272508                 True  0.201229
47   845  0.923868  0.394723                 True  0.210195
48   800  0.703147  0.665333                 True  0.219120

Max value for the range:  1200
Min value for the range:  800
Best MAP:  0.2199825345644639

   topK     alpha     beta normalize_similarity       MAP
29  800  0.886577  0.68149                 True  0.219983

In [11]:
output_folder_path = "result_experiments/RP3beta/RP3beta_augmented_subgenre_channel/"

data_loader = DataIO(folder_path = output_folder_path)
search_metadata = data_loader.load_data('improvedRange3' + RP3betaRecommender.RECOMMENDER_NAME + "_metadata.zip") # range topK from 5 to 200

hyperparameters_df = search_metadata["hyperparameters_df"]
result_on_validation_df = search_metadata["result_on_validation_df"]

hyperparameters_df['MAP'] = result_on_validation_df['MAP'].values.tolist()

threshold = 0.226

hyperparameters_df[hyperparameters_df['MAP'] > threshold]
print('Max value for the range: ', max(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Min value for the range: ', min(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Best MAP: ', max(hyperparameters_df['MAP']))
hyperparameters_df[max(hyperparameters_df['MAP']) == hyperparameters_df['MAP']]

   topK     alpha      beta normalize_similarity       MAP
70   66  0.582972   0.54985                 True  0.226040
85   51       0.0  0.571013                 True  0.226162
89   61  0.233192  0.556471                 True  0.226400
95   59  0.384235  0.568418                 True  0.226833
96   61  0.664183  0.580731                 True  0.226434
97   59  0.403549  0.580985                 True  0.226368
98   59   0.52439  0.567004                 True  0.226632

Max value for the range:  66
Min value for the range:  51
Best MAP:  0.22683304485993885

   topK     alpha      beta normalize_similarity       MAP
95   59  0.384235  0.568418                 True  0.226833

In [12]:
output_folder_path = "result_experiments/RP3beta/RP3beta_RP3beta_augmented_subgenre_channel_topK_categorical/"

data_loader = DataIO(folder_path = output_folder_path)
search_metadata = data_loader.load_data(RP3betaRecommender.RECOMMENDER_NAME + "_metadata.zip") # topK in [51, 59, 61, 66]

hyperparameters_df = search_metadata["hyperparameters_df"]
result_on_validation_df = search_metadata["result_on_validation_df"]

hyperparameters_df['MAP'] = result_on_validation_df['MAP'].values.tolist()

threshold = 0.226

hyperparameters_df[hyperparameters_df['MAP'] > threshold]
print('Max value for the range: ', max(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Min value for the range: ', min(hyperparameters_df[hyperparameters_df['MAP'] > threshold].topK))
print('Best MAP: ', max(hyperparameters_df['MAP']))
hyperparameters_df[max(hyperparameters_df['MAP']) == hyperparameters_df['MAP']]

   topK     alpha      beta normalize_similarity       MAP
22   51       0.0  0.569896                 True  0.226068
26   66  0.366369  0.556151                 True  0.226108
35   51  0.512987  0.559573                 True  0.226513
37   66  0.663584  0.551486                 True  0.226208
39   51  0.302465  0.567289                 True  0.226475
40   51  0.484685  0.554349                 True  0.226535
41   51  0.550707  0.564618                 True  0.226825
42   51  0.598138  0.566157                 True  0.226762
43   51   0.60272  0.566298                 True  0.226840
44   51  0.620106  0.566617                 True  0.227149
45   51  0.674214  0.568424                 True  0.226691
49   51  0.570796  0.568011                 True  0.226958

Max value for the range:  66
Min value for the range:  51
Best MAP:  0.22714933325423442

   topK     alpha      beta normalize_similarity       MAP
44   51  0.620106  0.566617                 True  0.227149

In [20]:
output_folder_path = "result_experiments/RP3beta_RP3beta_augmented_subgenre_channel_topK_categorical2/"

# If directory does not exist, create
if not os.path.exists(output_folder_path):
    os.makedirs(output_folder_path)

n_cases = 10  # 50 with 30% random is a good number
n_random_starts = int(n_cases*0.3)
metric_to_optimize = "MAP"   
cutoff_to_optimize = 10

In [ ]:
from functools import partial
import os, multiprocessing

from HyperparameterTuning.run_hyperparameter_search import runHyperparameterSearch_Collaborative

runHyperparameterSearch_Collaborative(RP3betaRecommender,
                                      URM_train = URM_aug_train,
                                      URM_train_last_test = None,
                                      metric_to_optimize = metric_to_optimize,
                                      cutoff_to_optimize = cutoff_to_optimize,
                                      n_cases = n_cases,
                                      n_random_starts = n_random_starts,
                                      evaluator_validation_earlystopping = evaluator_validation,
                                      evaluator_validation = evaluator_validation,
                                      evaluator_test = None,
                                      output_folder_path = output_folder_path,
                                      resume_from_saved = True,
                                      similarity_type_list = None,
                                      parallelizeKNN = True)